body {
    margin-top: 20px;
}
.card {
    .extra {
        text-align: center;
    }
    .content {
        min-height: 150px;
    }
    .image {
        img {
            max-height: 300px;
            
        }
    }
}