body {
    margin-top: 20px;
}
.card {
    // min-height: 550px;
    .content {
        min-height: 150px;
    }
    .image {
        img {
            max-height: 300px;
            
        }
    }
}